body {
    margin: 0;
    padding: 0;
    background-image: url('car.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    align-items: center;
    justify-content: center;
    color: #f6f2f2; 
    font-family: 'Arial, sans-serif;
    }
/* styles.css */

#logo {
    max-width: 100%; 
    height: auto;
}
.Title {
    text-align:center;
    background-color: rgba(135, 6, 6, 0.1); /* Transparent background color */

}
.TeamName {
    align-self: center;

}
.navbar {
    text-align: right;
}
p {
    font-size: 15px;
}
.Inputfield {
    text-align: center;
}
.table-container {
    margin-left: auto;
    margin-right: auto;

}
table.datatable {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(218, 207, 207, 1); /* Transparent background color */
    background-color: rgb(52, 68, 68);
}
