body {
    margin: 0;
    padding: 0;
    background-image: url('car.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f1f1; 
    font-family: 'Arial, sans-serif;
    }
/* styles.css */

#logo {
    max-width: 100%; 
    height: auto;
}
